#banner
{
    margin: -180px 10px 10px 374px;
    height:200px;
    width:1000px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #489dc6;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover {
    background-color: #50b3a4;
  }
  .menu
  {
    margin: -30px 13px 10px 13px;
  }